{% extends "layout.njk" %}

{% block head %}
  <title>{{ item.title }} course</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1>Curso {{ item.title }}</h1>
  </div>

  <section class="single-card-section">
      <div id="{{ item.id }}" class="card">
        <div class="card__image-container">
          <img src="/{{ item.id }}.svg" alt="{{ item.id }}"/>
        </div>
        <div class="card__title">
          <p>{{ item.description }}</p>
          <p>{{ item.modules }}</p>
          <div id="links-footer" class="links">
            <p><a href="{{ item.url }}" target="_blank">{{ item.price }}</a></p>
          </div>
        </div>
      </div>
  </section>

{% endblock %}